.main {
  margin-bottom: 100px;
}
.main_right {
  width: 997px;
}
.main_right .personal_things {
  height: 46px;
}
.main_right .personal_things span {
  font-size: 18px;
  color: #4c4c4c;
  line-height: 46px;
  display: inline-block;
  padding: 0 11px 0 15px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  text-align: center;
}
.main_right form {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 34px;
}
.main_right form label {
  font-size: 13px;
  color: #878787;
}
.main_right form .newPwd {
  margin-left: 13px;
}
.main_right form input {
  width: 261px;
  padding: 9px 0 10px 14px;
  border: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
.main_right form p {
  font-size: 13px;
  color: #a5a5a5;
}
.main_right form a {
  display: block;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #f29525;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 55px;
  margin-bottom: 75px;
}
